h1 {
  text-align: center;
  color: #00BFFF;
  font-size: 40px;
}

h2 {
  font-size: 14px;
  color: #00BFFF;
  display: inline-block;
  font-family: sans-serif;
}

body {
  background-color: 	#006400;
}

footer {
  text-align: center;
}

p {
  text-align: center;
  font-size: 15px;

}

img {
  height: 200px;
  margin-left: 160px;
}

button {
  font-size: 12px;
  padding: 5px 25px;
}

li {
  color: #00BFFF;
}

nav {
  text-align: center;

}
